<div class="headerIntro top">
  <div class="overlayText-container">
    <img src="http://media.philly.com/images/state_outline_ice1.png" />
    <h1>No&nbsp;Sanctuary: Philly vs. the Feds</h1>
    <span>PART FOUR IN A SERIES</span>
    <h2>Inside the city's polarizing, no-middle-ground war with Trump over sanctuary cities.</h2>
    <div class="pub-text">
      A ProPublica / Inquirer investigation
    </div>
  </div>
  <div class="backgroundImage" id="backgroundImage-1"></div>
</div>


<div class="headerSection">
  <div class="BackgroundImageCaption">
    Demonstrators marched in Center City Philadelphia to protest a July 2017 visit by U.S. Attorney General Jeff Sessions.
    <br>CHARLES FOX / Staff Photographer
  </div>
</div>

<div class="container bodyContainer" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
      <div class="headDisplay">

        <div class="byline">
          David Gambacorta / Staff Writer, <a href="mailto:dgambacorta@philly.com">dgambacorta@philly.com</a><br>
          <a href="mailto:Kavitha.Surana@propublica.org">Kavitha Surana / ProPublica</a>
        </div>
        {% include "partials/socialshare.html" %}
        <div class="dateline">Thursday, October 18, 2018</div>
      </div>
      <br>
      <div class="photo-container pull-right medium">
        <div class="relLinks">
          <div class="name">No Sanctuary</div>
          <div class="more">More in this series</div>
          <ul>
            <li class="link"><a href="http://www.philly.com/philly/news/illegal-immigration-deportation-trump-ice-raids-philadelphia-pennsylvania-pro-publica-part-1.html" target="_blank">Part 1 – No Sanctuary</a></li>
            <li class="link"><a href="http://www.philly.com/philly/news/illegal-immigration-arrests-deportation-police-ice-philadelphia-pennsylvania-pro-publica-part-2.html" target="_blank">Part 2 – Round Up</a></li>
            <li class="link"><a href="http://www.philly.com/philly/news/immigration-court-ice-police-arrests-bribes-racial-profiling-pro-publica-part-3.html" target="_blank">Part 3 – Crush of Cases, Less Scrutiny</a></li>
          </ul>
        </div>
        <div class="callout">
          Got a news tip about ICE enforcement? Email us at&nbsp;<a href="mailto:immigration@philly.com">immigration@philly.com</a>
        </div>
      </div>
      <p><span class="dropCap">A</span> small, impish grin spread across Jeff Sessions' face. It was a sun-drenched June afternoon in Scranton, a northeastern Pennsylvania town a few generations removed from its coal-mining heydays, and the U.S. attorney general was ensconced in a window-lined university hall, preaching to cops, prosecutors, and police cadets about the importance of President Trump's war on illegal immigration. Outside, protesters &nbsp;jeered.</p>
      <p>Sanctuary cities, Sessions said, reject the law, reward criminals, and put U.S. Immigration and Customs Enforcement officers in peril. Then he smiled, and began attacking Jim Kenney, Philadelphia's Democratic mayor.</p>

        <div class="imagebreak">
          <img src="http://media.philly.com/images/sanctuary_sessions_police.jpg" width="100%" />
          <div class="containerPhotoCredit" alignment="true">MICHAEL CANDELORI / AP</div>
          <div class="containerPhotoCaption" alignment="true">Sessions complained about sanctuary city policies - and criticized Philadelphia Mayor Kenney - when he spoke to police at Lackawanna College in Scranton earlier this year.</div>
        </div>

        <p>Philadelphia had emerged as one of the largest thorns in the Trump administration's side. It wore its sanctuary&nbsp;reputation like a badge of honor, and its leaders, including Kenney and District Attorney Larry Krasner, continued to find creative ways to outmaneuver ICE's enforcement efforts. Just a week earlier, Philadelphia <a href="http://www2.philly.com/philly/news/sanctuary-city-judge-rules-for-philadelphia-trump-undocumented-immigrants-20180606.html">won a federal lawsuit</a> that Kenney filed against the Department of Justice. At risk had been a $1.6 million law enforcement grant, and the critical question of whether Philadelphia — and by implication, cities like New York, Chicago, and San Francisco —&nbsp;could limit cooperation with ICE without being penalized by the federal government.</p>

        {% set ad = ["21"] %} {% include "partials/ad.html" %}

        <p>The attorney general told his audience that he'd seen a video of Kenney dancing giddily in the wake of the court victory. "He is celebrating <i>keeping </i>criminals in Philadelphia that by law should be deported," Sessions said. But it was worse than that; cities like Philadelphia, he said, "send a message to criminals: 'Stay here, and we will protect you.' That directly attracts more criminals."</p>

        <div class="imagebreak">
          <img src="http://media.philly.com/images/sanctuary_jim_kenney_1200.jpg" width="100%" />
          <div class="containerPhotoCredit" alignment="true">HEATHER KHALIFA / Staff Photographer</div>
          <div class="containerPhotoCaption" alignment="true">As mayor, Kenney has doubled down on limiting the city's cooperation with federal immigration authorities. "All of us have ancestors who were once immigrants," he has said.</div>
        </div>

        <p>Kenney saw his administration's role in a more noble light. By wielding policy to fight back against Trump and ICE, the city's leaders believed they were sending an important message: Immigrants could trust the city, and feel comfortable reporting crimes.</p>
        <p>Philadelphia's violent crime rate has fallen by more than 17 percent, <a href="http://www2.philly.com/philly/news/20170112_Police__Philly_crime_at_lowest_level_in_decades.html">to levels not seen in decades</a>, since it became a sanctuary city in 2014.</p>

        {% set quote = ["Trump and Sessions and those folks rule by division and fear.", "Mayor Kenney"] %} {% include "partials/left-quote.html" %}

        <p>To Kenney, Sessions' complaints about so-called sanctuary cities and counties&nbsp;— which had shot up to more than 700 since Trump took office&nbsp;— &nbsp;were less about public safety and more about pandering to anti-immigrant voters. "Trump and Sessions and those folks rule by division and fear, by putting out intentionally wrong views of who people are and what they are, and what they aspire to be," Kenney said in an interview. "[Trump] wants to use Philadelphia to play to the heartland of people who are scared of anyone that's a different color than them."</p>

        <script type="text/javascript" src="https://pixel.propublica.org/pixel.js" async="true"></script>

        <p>This is the immigration debate most people are familiar with, writ large — each side seeing itself as good, the other as bad, and neither willing to move beyond the lines drawn without worrying that it will appear, to their supporters, like a surrender.</p>
        <p>But the reality of life in a sanctuary city like Philadelphia is far more complex.</p>
        <p>The city's police union, like many across the country, <a href="http://www.philly.com/philly/news/politics/presidential/20160924_Black_Philly_cops__group_blasts_national_FOP_over_Trump_endorsement.html">heartily endorsed Trump </a>in the 2016 election, but many commanders and rank-and-file officers are committed to winning the trust of immigrant communities by not asking about people's immigration status, or contacting ICE to share data. And Krasner, elected on a reformer's platform, has prosecutors regularly adjusting plea deals to help immigrant defendants avoid deportation.</p>
        <p>But the Inquirer<strong>&nbsp;</strong>and ProPublica&nbsp;found that the city's resistance to ICE's agenda comes with some surprising caveats: On two dozen occasions, police, probation officers, and even one of Kenney's top deputies have quietly provided tips to ICE about undocumented immigrants who were charged with crimes. Other forms of information-sharing still continue, which shows that even the most extreme of sanctuary cities eventually bend to comply with a federal law that says local governments cannot restrict sharing immigration status with ICE.</p>

    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-12 col col-md-offset-0" alignment="true">
      <div class="imagebreak">
        <div class="img-fluid">
          <img class="img-fluid" src="http://media.philly.com/images/sanctuary_hug_1200.jpg" alt="" width="100%/">
          <div class="containerPhotoCredit" alignment="true">CHARLES FOX / Staff Photographer</div>
          <div class="containerPhotoCaption" alignment="true">Community organizer Xelba Gutierrez, (left) hugs Mara Henao, of Philly Socialists, after Xelba and two members of the Occupy ICE protest group met with Kenney in July, when he announced the termination of a contract that allowed ICE to access
            a database of local arrest information.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">

      <p>For the undocumented immigrants who dream that cities like Philadelphia can shelter them in a protective bubble, these contradictions are <a href="http://www.philly.com/philly/news/illegal-immigration-deportation-trump-ice-raids-philadelphia-pennsylvania-pro-publica-part-1.html">a reminder that true sanctuary doesn't exist </a>anywhere in America.</p>

      <div class="subHead">'I've beaten myself up about it'</div>

      <p>Not long into the first year of the Trump administration, Brian Abernathy, Philadelphia's deputy&nbsp;managing director&nbsp;and one of Kenney's closest aides, had a difficult decision to make. On separate occasions, city prison officials alerted him to five undocumented inmates who were being released on bond before they faced their trials on felony charges that included attempted murder and the rape of a child.</p>
      <p>An executive order signed in 2014 by Michael Nutter, the mayor at the time, and later reinforced by Kenney, barred officials from giving ICE advance notice about the pending release of undocumented inmates, or from detaining those individuals for ICE unless its agents obtained a judicial arrest warrant. But Abernathy found these crimes particularly disturbing.</p>
      <p>His dilemma called to mind a notorious case that ICE officials have repeatedly tried to use to undercut Philadelphia's sanctuary policies: Juan Ramon Vasquez, a Honduras native arrested in the city in 2014 in a domestic assault case. ICE supplied the city with a detainer request for Vasquez, who had been deported in 2009, but the city wouldn't honor it. Prosecutors eventually dropped the charges, and Vasquez was released. He was arrested again in 2016 — this time, for raping a young relative. He is now in prison.</p>

    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-12 col col-md-offset-0" alignment="true">
      <div class="imagebreak">
        <div class="img-fluid">
          <img class="img-fluid" src="http://media.philly.com/images/sanctuary_city_hall_1200.jpg" alt="" width="100%/">
          <div class="containerPhotoCredit" alignment="true">MAGGIE LOESCH / Staff Photographer</div>
          <div class="containerPhotoCaption" alignment="true">Demonstrators calling for ICE to be abolished marched from the Liberty Bell to City Hall in August.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">

      <p>The episode highlighted the potential risk&nbsp;—&nbsp;critics argued Vasquez's crime was the city's responsibility.</p>
      <p>Abernathy made up his mind. He told an ICE official about the five suspects. Agents apprehended the men late at night, outside of city jails. "At the time, I thought it was the right thing to do. Looking back on it, I don't think it was," Abernathy said recently. "It's a hard issue, and I've beaten myself up about it."</p>
      <p>He wasn't the only public employee reaching out to ICE. Even after the city adopted its sanctuary policy, Philadelphia police notified the agency about undocumented suspects they arrested on about 10 occasions, according to federal court records.</p>
      <p>Kenney's administration chalked those instances up to a simple misunderstanding about the policy and has since clarified that "no notifications are to occur going forward for any reason." But there were others, outside of the mayor's control.</p>
      <p>Officers from the Philadelphia Adult Probation and Parole Department have also turned in clients who they believed were undocumented to ICE.</p>
      <p>In the last three fiscal years, information from probation and parole officers led to 84 ICE arrests in Philadelphia; the most common crimes involved driving under the influence, assault, and drugs, according to data compiled by Transactional Records Access Clearinghouse.</p>
      <p>Richard McSorley, the deputy court administrator who oversees the probation department, declined to be interviewed by the Inquirer and ProPublica.</p>
      <p>But this practice got on the radar of the Kenney administration. During a September meeting with city and court leaders, the probation department agreed to restrict its officers from asking clients about immigration status or contacting ICE if they learn someone is undocumented — even though probation officers work for the First Judicial District, which isn't obligated to follow the mayor's executive order.</p>

    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-12 col col-md-offset-0" alignment="true">
      <div class="imagebreak">
        <div class="img-fluid">
          <img class="img-fluid" src="http://media.philly.com/images/sanctuary_sign_1200.jpg" alt="" width="100%/">
          <div class="containerPhotoCredit" alignment="true">MAGGIE LOESCH / Staff Photographer</div>
          <div class="containerPhotoCaption" alignment="true">Philadelphia saw multiple protests of the Trump administration's immigration policies throughout the summer.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">

      <p>ICE officials said they were unaware of the probation department's new stance.</p>
      <p>Immigration advocates have been pushing for cities to rein in their cooperation with ICE ever since deportation rates climbed to an all-time high, of more than 200,000 a year in the early years of Barack Obama's presidency;&nbsp;this was&nbsp;due to new databases that made it easier for ICE agents to sweep up undocumented immigrants in jails and prisons.</p>
      <p>With national immigration reform at an apparent impasse in Congress, local resistance seemed like the best hope for protecting immigrants who were here illegally — but had set down roots, raised families, and contributed to their communities to avoid getting caught up in a deportation dragnet.</p>
      <p>Under Trump, ICE's increasingly aggressive pursuit of immigrant communities in states like Pennsylvania has only succeeded in pushing leaders of sanctuary cities further apart from their federal counterparts. Every inflammatory comment from Sessions or Trump, who referred to immigrants as "animals" during a meeting with California sheriffs this year, makes it difficult for sanctuary city officials to contemplate a dialogue with ICE about compromises.</p>

              {% set quote = ["He [Kenney] is celebrating keeping criminals in Philadelphia that by law should be deported.", "Attorney General Jeff Sessions"] %} {% include "partials/left-quote.html" %}

      <p>"The rhetoric that's happening on a national scale — illegal immigrants are causing crime, taking your jobs, all that posturing — drives a political base and has made it impossible [to have a conversation]," Abernathy said. "I can't cooperate with ICE on immigration enforcement because what they're doing is wrong."</p>
      <p>ICE officials&nbsp;met with Kenney's office&nbsp;this summer in an attempt to discuss the impasse between the city and ICE, and they left frustrated.</p>
      <p>"Their stance was basically they treat every single individual in the city of Philadelphia as all U.S. citizens," said an ICE official, adding:</p>

            <div class="exclude" style="margin-top:25px; margin-bottom: 25px; padding-top: 20px; padding-bottom: 20px; border-top: 3px solid #eee; border-bottom: 3px solid #eee; max-width: 350px; width: 100%; margin-right: 20px; float: left;">
              <h3 style="font-family: 'Gotham Narrow SSm A','Gotham Narrow SSm B','Arial',sans-serif; ">Violent Crime in Philadelphia On Downward Trend</h3>

              <div style="margin: 5px 0 10px; font-family: 'Gotham Narrow SSm A','Gotham Narrow SSm B','Arial',sans-serif; line-height: 1.5em; font-size:.9em;">Philadelphia’s violent crime rate has fallen by nearly 18 percent since it became a sanctuary city in 2014.</div>
              <img class="aligncenter" src="http://media.philly.com/images/nosanctuary21a-1.png" width="100%" height="auto" />
              <div style="margin-top:5px; font-size: 12px; width: 100%; font-family: 'Gotham Narrow SSm A','Gotham Narrow SSm B','Arial',sans-serif;">SOURCE: Philadelphia Police Department</div>

              <div style="font-size: 12px; width: 100%; text-align: right; font-family: 'Gotham Narrow SSm A','Gotham Narrow SSm B','Arial',sans-serif;">JARED WHALEN / Staff Artist</div>
            </div>

      <p>"Unfortunately, there's hundreds of thousands of people waiting to legally immigrate into the U.S. … How fair is it to those people, trying to legally come in, if we allow people to stay here illegally that committed crimes?"</p>
      <p>This summer, Philadelphia inflamed the Justice Department anew. Krasner and the mayor, amid pressure from protesters who camped outside City Hall, announced that the city would not renew its contract with ICE that gave immigration agents access to a citywide database of real-time arrest information, known by the acronym PARS, that included a person's Social Security number, country of birth, address, and police report.</p>
      <p>Kenney presented the move as a moral decision to stop ICE from targeting innocent immigrants. "All of us have ancestors who were once immigrants," he said at a City Hall news conference. "All of us."</p>
      <p>ICE officials complained about the loss of the useful intelligence tool.&nbsp; In a letter to the city solicitor, the agency wrote: "ICE has neither violated the PARS contract nor abused its use of information derived from PARS. ICE does not use PARS to target victims and witnesses and does not engage in 'racial profiling.' "</p>
      <p>Months before cutting ICE off from PARS, the city quietly began&nbsp;— at the urging of the federal judge presiding over their lawsuit — sending information to the agency culled from the Philadelphia prison system's Lock and Track database. With Lock and Track, agents could see some inmates' name, race, &nbsp;and self-reported country of origin, but Kenney's administration believed the information wouldn't be of much use to ICE, and would remove a point of contention in the case.</p>
      <p>Still, the agency had many ways to locate immigrants in Philadelphia, using at least seven other federal and state databases.</p>

      <div class="subHead">Cutting deals — or not</div>

      <p>For Krasner, who was <a href="http://www2.philly.com/philly/news/politics/city/larry-krasner-wins-race-for-philly-da-20171107.html">swept into office</a> with a promise to reinvent Philadelphia's criminal justice system, there was no conflict: The DA's Office would find ways for immigrant defendants who were guilty of crimes to be punished without falling into ICE's hands, and to avoid probation officers altogether.</p>
      <p>One of Krasner's first decisions was to hire Caleb Arnold, a bespectacled former public defender who had been working at a local immigration law firm, to a newly created immigration counsel position.</p>


            <div class="imagebreak">
              <img src="http://media.philly.com/images/sanctuary_krasner2_1200.jpg" width="100%" />
              <div class="containerPhotoCredit" alignment="true">JOSE F. MORENO/ Staff Photographer</div>
              <div class="containerPhotoCaption" alignment="true">​District Attorney Larry Krasner, elected on a reform platform, wants his office to help immigrants who are convicted of certain crimes to avoid being deported.</div>
            </div>

      <p>Arnold's job was to craft plea deals to help prevent immigrants from being deported or losing other legal rights if they were convicted of low-level offenses.</p>
      <p>"He is taking into account and recognizing the immense consequence of deportation," Arnold said of Krasner. "He feels it should be considered in the criminal justice system."</p>
      <p>The stakes are high: An immigrant convicted of a crime could lose legal status, while a conviction for an undocumented immigrant would erase almost any shot at being spared deportation through a humanitarian visa.</p>

                  <div class="imagebreak">
                    <img src="http://media.philly.com/images/sanctuary_caleb_1200.jpg" width="100%" />
                    <div class="containerPhotoCredit" alignment="true">JOSE F. MORENO/ Staff Photographer</div>
                    <div class="containerPhotoCaption" alignment="true">Caleb Arnold, a former public defender, was hired by Krasner to craft deals for immigrant defendants that ensure they are punished appropriately, if convicted of a crime, but without facing immigration consequences.</div>
                  </div>

      <p>In late May, Arnold arrived at an eighth-floor courtroom in Philadelphia's Juanita Kidd Stout Center for Criminal Justice, where a nervous-looking young man in a short-sleeved button-down and saggy blue jeans stood in the hallway.</p>
      <p>Jose Ramirez-Disla was a 19-year-old from the Dominican Republic who had lived in the U.S. legally on a green card for almost two years.</p>
      <p>In the spring of 2017, he got into a fight inside the Chihuahua, a bar in Philadelphia's Olney neighborhood. He chucked a beer bottle at another man, fracturing his orbital bone, and was charged with a felony count of aggravated assault and related offenses. If convicted of an aggravated assault, he would face deportation.</p>
      <p>That's where Arnold came in. For 20 minutes, Ramirez-Disla's lawyer and a young city prosecutor huddled in the hallway with Arnold, who sketched out the terms of a favorable deal: &nbsp;If Ramirez-Disla pleaded to a misdemeanor and took 11 months in jail with no probation and no right to appeal, the DA's Office would drop the more serious charge. He would do more time than if he had been convicted of aggravated assault, but he'd get another chance to remain in the country on good terms.</p>
      <p>"That's fair. He has to pay his time," Arnold explained. "It takes into consideration his ability to stay here."</p>
      <p>This sort of negotiation had become routine. Arnold's office&nbsp;has assessed&nbsp;more than 200 cases since February — though they don't intervene in all of them, and some of the adjustments are minimal. Krasner said he won't consider deals for sex offenders and murderers, but he's still faced backlash from veteran prosecutors and some judges to this newfound approach.</p>
      <p>Krasner isn't fazed by internal resistance. "You're dealing with multigenerational, self-selected prosecutors in this office, whose politics are not necessarily identical to my politics, or the politics of the movement that elected me, or the politics of Caleb Arnold," he said.</p>
      <p>When asked for case information about all of the agreements Arnold has overseen, the DA's Office refused. It only provided anonymized summaries of nine, to show a range of outcomes. In one instance, a defendant was charged with robbery and theft after stealing someone's backpack. The defendant agreed to a downgrade to simple assault and theft, with a recommended sentence of 5½ to 11 months. Other cases were diverted into addiction rehab programs.</p>

    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-12 col col-md-offset-0" alignment="true">
      <div class="imagebreak">
        <div class="img-fluid">
          <img class="img-fluid" src="http://media.philly.com/images/sanctuary_indy_hall_1200.jpg" alt="" width="100%/">
          <div class="containerPhotoCredit" alignment="true">MAGGIE LOESCH / Staff Photographer</div>
          <div class="containerPhotoCaption" alignment="true">Facing increased pressure from immigration advocates and activists, the Kenney administration earlier this year took steps to further restrict the information it shared with ICE.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">

      <p>Presented with the case of a green-card resident who'd been charged with possession of child pornography, Arnold didn't intervene.</p>
      <p>Back in the eighth-floor courtroom, Ramirez-Disla discussed Arnold's offer with his lawyer, and grew teary-eyed. But agreeing to spend nearly a year in jail was his only chance to stay in the country. He decided to accept.</p>

      <div class="subHead">'We are not in the immigration business'</div>

      <p>Despite the warnings from Sessions in Scranton about the terrible impact sanctuary policies have on public safety, violent crime in Philadelphia has plummeted in recent years.</p>
      <p>The homicide rate has risen 9 percent this year, but Kenney insists&nbsp;that "the people who are going out and shooting those people are Philadelphians," not immigrants. Philadelphia police say this is anecdotally correct but don't have data to bear it out, since officers don't ask people about their citizenship status.</p>
      <p>As proof that community policing and sanctuary policies work, immigration advocates and police point to South Philadelphia's Third District, which is home to large Mexican and Asian communities.</p>

            <div class="imagebreak">
              <img src="http://media.philly.com/images/sanctuary_milillo2_1200.jpg" width="100%" />
              <div class="containerPhotoCredit" alignment="true">JOSE F. MORENO/ Staff Photographer</div>
              <div class="containerPhotoCaption" alignment="true">Capt. Frank Milillo, the commander of South Philadelphia's Third police district, assures the area's large immigrant community that they can report crimes to police without having to fear that they'll attract the attention of immigration authorities.</div>
            </div>

    <p>Capt. Frank Milillo, the district's commander, deploys a handful of bilingual officers to engage immigrant residents and explain they can contact police in an emergency without having to worry about attracting ICE's attention. Sometimes his&nbsp;officers visit the Mexican Consulate, where they try to bond over coffee and doughnuts with people who initially cringe at the sight of someone in a badge and uniform.</p>
    <p>"I assure the community that you can come and report a crime, and we're not asking about your immigration background," Milillo said.</p>

          {% set quote = ["I assure the community that you can come and report a crime, and we're not asking about your immigration background.", "Capt. Frank Milillo"] %} {% include "partials/left-quote.html" %}

      <p>His boss, Police Commissioner Richard Ross, has identified the Police Department's primary concerns as combating the city's gun-violence epidemic, and building stronger relationships in minority communities. "We are not in the immigration business," Ross has said.</p>
      <p>During the federal lawsuit, David O'Neill, an assistant director from ICE's Philadelphia field office, said he was not aware of any data that showed deporting more immigrants from Philadelphia reduces the city's crime rate.</p>
      <p>Though ICE officials prefer to talk about the agency's work pursuing criminals, its actions show an increased focus on deporting anyone in the country illegally, clean record or not.</p>
      <p>ICE also didn't appear to be pursuing many criminal targets in Philadelphia through the criminal justice system. In 2016 and 2017, &nbsp;ICE filed 164 detainer requests with the city for undocumented immigrants, court records show&nbsp;— one to two a week on average.</p>
      <p>Of the 164, only 27 were people with prior felony convictions; of those, most were for nonviolent offenses such as criminal trespass and shoplifting. ICE obtained judicial warrants for just six of the 164 inmates it wanted turned over.</p>
      <p>ICE has long said the insistence by sanctuary city officials for judicial arrest warrants before holding someone in jail was an unreasonable burden. In many cases, it didn't have standing to request one.&nbsp;ICE also said 61 percent of immigrants without criminal convictions arrested this year came to the agency's attention because of criminal charges, even if they were not convicted.</p>

    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-12 col col-md-offset-0" alignment="true">
      <div class="imagebreak">
        <div class="img-fluid">
          <img class="img-fluid" src="http://media.philly.com/images/sanctuary_police2_1200.jpg" alt="" width="100%/">
          <div class="containerPhotoCredit" alignment="true">JOSE F. MORENO/ Staff Photographer</div>
          <div class="containerPhotoCaption" alignment="true">Sgt. Timmy Sin (right) and Officers Franklin LeTorre (left) and Jasmine Fraticelli speak multiple languages, and are tasked with winning over the trust of immigrant residents in South Philly's 3rd District.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">

      <p>U.S. &nbsp;District Judge Michael M. Baylson, who presided over the federal trial, all but scoffed at ICE's explanation for why it couldn't comply with the city's requirement for judicial warrants. Baylson, a Republican appointed by George W. Bush, wrote in a 93-page decision that there was no reason why ICE officials couldn't craft a solution with the local U.S. Attorney's Office to more easily meet Philadelphia's demands for an arrest warrant.</p>
      <p>The federal government is appealing Baylson's decision.</p>

      <div class="subHead">'Is Pablo here? We want to talk to him'</div>

      <p>Immigrants are still drawn to Philadelphia, hoping to find refuge and a small piece of the American dream in the shadows of gleaming new skyscrapers and old rowhouse neighborhoods. But even in the most determined sanctuary city, they won't find unbreachable protection.</p>
      <p>For Enid Melissa Bartolomei and Pablo Castillo Trujillo, Philadelphia seemed as if it might hold the key to unlocking the life they wanted to build together.</p>
      <p>Trujillo, 41, hired someone to help him&nbsp;cross the Mexico border and into the U.S. in the summer of 2017. He ended up in Mount Laurel, a Burlington County suburb a dozen miles east of Philadelphia, where Hispanics make up less than 5 percent of its 41,000 residents. There he met Bartolomei, a 36-year-old Puerto Rico native who worked at a local law firm, and settled into what seemed like a welcoming environment for immigrants: Gov. Murphy had vowed to make New Jersey a sanctuary state, and his administration, like Kenney's, sued the Justice Department.</p>

      <div class="imagebreak">
        <img src="http://media.philly.com/images/sanctuary_bartolomei_1200.jpg" width="100%" />
        <div class="containerPhotoCredit" alignment="true">TOM GRALISH / Staff Photographer</div>
        <div class="containerPhotoCaption" alignment="true">South Jersey resident Enid Melissa Bartolomei gets a rare moment of levity as she speaks by phone with her fiance, Pablo Castillo Trujillo, who was was apprehended by ICE in April and deported to Mexico. The couple had been on their way to Philadelphia,
          to seek help from officials at the Mexican Consulate, when they were stopped by ICE.</div>
      </div>

      <p>Trujillo and Bartolomei got engaged, and Trujillo worked landscaping jobs to help support her parents. The couple made multiple trips to the Mexican Consulate in the heart of Philadelphia's historic district, believing officials there could devise a path to citizenship for Trujillo.</p>
      <p>In early April, Bartolomei heard a knock at her front door.</p>
      <p>She found two men standing there in vests that identified them as ICE agents. One had gone into her mailbox and was looking through the bills, including one addressed to Trujillo. A third lurked in her backyard.</p>
      <p>"Is Pablo here?" one agent asked. "We want to talk to him."</p>
      <p>"He's not," she said. "What's this about?"</p>

      {% include "partials/subscribebox.html" %}

      <p>Her mind raced. As far as she knew, Trujillo hadn't gotten into any legal trouble in the time they were together. Then Bartolomei remembered that police talked to her a few weeks earlier at her apartment, with Trujillo in the background, after a neighbor complained her car was blocking a shared driveway. Maybe that's how ICE ended up at her door, she thought.</p>
      <p>The ICE agents left, and Bartolomei called the consulate in a panic. An employee told her to leave her apartment and not return. She and Trujillo spent the night at her parents' home. "We'll go to the consulate in the morning and figure this out," he told her.</p>

      {% set ad = ["22"] %} {% include "partials/ad.html" %}

      <p>The next day, they began driving to Philadelphia. They could reach the consulate in 20 minutes if they hurried. Bartolomei wondered: Could the consulate keep her fiance safe? Would he be better off trying for sanctuary in a church?</p>
      <p>Her thoughts were interrupted &nbsp;by the sight of a cruiser filled with ICE agents, who pulled her over and ordered Trujillo out of the car, and took him away from her.</p>
      <p>According to U.S. Department of Homeland Security records, he had been deported once before, in 2015, when he entered the U.S. illegally. In May, he was sent back to Mexico.</p>
      <p>Bartolomei plans to fly there soon to marry Trujillo, but their reunion will be short-lived. Her family needs her in New Jersey, and Trujillo can't apply to return to the U.S. legally for 20 years.</p>
      <p>She recently sat in a local Starbucks, dabbing at tears with a napkin as she mulled the question of what a sanctuary city really means.</p>
      <p>"It doesn't mean anything," she said. "ICE just finds a way around it."</p>
            <p><i>ProPublica is a nonprofit newsroom based in New York. Sign up for <a href="https://go.propublica.org/bigstory-20181018">ProPublica's Big Story newsletter</a> to receive stories like this one in your inbox as soon as they are published.</i></p>


    </div>
  </div>
</div>
<div class="headerIntro">
  <div class="backgroundImage" id="backgroundImage-2">
    <div class="backgroundImageCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
  </div>
</div>
