<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-1">
        <div class="backgroundImageCredit" alignment="true">CHARLES FOX / Staff Photographer</div>
    </div>
    <h1 class="overlayText">Headline goes here</h1>
</div>

<div class="headerSection">
    <div class="BackgroundImageCaption">
        Attorney General Jeff Sessions came to the sanctuary city of Philadelphia on July 21, 2017, to speak at the U.S. Attorney's office. Protesters, including Samantha Goldman, center, of Philadelphia and Refuse Fascism, blocked the 600 block of Chestnut St.
    </div>
    <div class="headDisplay">
        <div class="subHead">
            This is the subhead.
        </div>
        <div class="byline">
            David Gambacorta / Staff Writer, <a href="mailto:dgambacorta@phillynews.com">dgambacorta@phillynews.com</a>
            <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>
        </div>
        <div class="dateline">Wednesday, October 10, 2018</div>
    </div>
</div>

<div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p><span class="dropCap">A</span><p> small, impish grin spread across Jeff Sessions' face. It was a sun-drenched June afternoon, and the U.S. attorney general was in Scranton, a Northeastern Pennsylvania town a few generations removed from its heyday as the heartbeat of the region's coal mining industry. Protesters stood outside and jeered, but Sessions was safely ensconced inside a window-lined university hall, preaching to cops, prosecutors, and police cadets with high-and-tight haircuts about the importance of President Trump's war on illegal immigration. </p>
            <p>Sessions focused on the scourge of so-called sanctuary cities, which had more than doubled in number across the country ever since Trump took office in 2017. After riffing about the dangers of these locales — their supposed rejection of immigration law, their animosity towards ICE officers — he smiled and mentioned Jim Kenney, Philadelphia's Democratic mayor. </p>

            <div class="imagebreak">
                <img src="http://media.philly.com/images/sanctuary_sessions_police.jpg" width="100%"/>
                <div class="containerPhotoCredit" alignment="true">MICHAEL CANDELORI / AP</div>
                <div class="containerPhotoCaption" alignment="true">Attorney General Jeff Sessions speaks about immigration and law enforcement actions to cadets from Lackwanna College Police Academy.</div>
            </div>

            <p>Philadelphia had emerged as one of the largest thorns in the Trump administration's side. It wore its sanctuary designation like a badge of honor, and its leaders, including Kenney and District Attorney Larry Krasner, continued to find new and creative ways to outmaneuver ICE's enforcement efforts in the city. Just a week earlier, Philadelphia had won a federal lawsuit that Kenney filed against the Department of Justice. At risk had been a $1.6 million law enforcement grant, and the critical question of whether Philadelphia — and by implication, cities like New York, Chicago and San Francisco — had the right to limit the information and cooperation they provided to ICE.</p>

{% set ad = ["21"] %} {% include "partials/ad.html" %}

<p>The attorney general told his audience that he'd seen a video of Kenney dancing giddily in the wake of the court victory. "He is celebrating keeping criminals in Philadelphia that by law should be deported," Sessions said, in his heavy Alabama drawl. But it was worse than that; cities like Philadelphia, he said, "send a message to criminals: 'Stay here, and we will protect you.' That directly attracts more criminals."</p>

            <div class="imagebreak">
                <img src="http://media.philly.com/images/sanctuary_jim_kenney_1200.jpg" width="100%"/>
                <div class="containerPhotoCredit" alignment="true">HEATHER KHALIFA / Staff Photographer</div>
                <div class="containerPhotoCaption" alignment="true">Mayor Jim Kenney speaks to the media about the Occupy ICE on Friday, July 6, 2018.</div>
            </div>

<p>This is how the Trump administration had typically portrayed sanctuary cities, as lawless outposts where crime was rampant, thanks to liberal politicians. Kenney saw his administration's role in a more noble light. By wielding policy to fight back against Trump and ICE — like in July, when Kenney would announce that he was cutting off ICE's access to a database of local arrest information — the city's leaders believed they were helping vulnerable immigrants to go about their lives without having to feel hunted. </p>

            {% set quote = ["This is not about immigration. This is about the browning of America.", "Jim Kenney"] %} {% include "partials/left-quote.html" %}

<p>"Trump and Sessions and those folks rule by division and fear, by putting out intentionally wrong views of who people are and what they are, and what they aspire to be," Kenney said during an interview, in a brisk, frustrated tone. "[Trump] wants to use Philadelphia to play to the heartland of people who are scared of anyone that's a different color than them...This is not about immigration. This is about the browning of America." </p>
<p>When the Trump and Kenney administrations tell this story, it follows neatly drawn lines: One side is good, the other is bad, and neither wavers from its mission. But reporting by ProPublica and the Inquirer has found that the truth doesn't always match the rhetoric.</p>
<p>For all of Sessions' warnings about violent, undocumented immigrants wrecking havoc on big cities, ICE now admits that its officers are often pursuing people in the Philadelphia area who have simply overstayed their visas, while the agency simultaneously scoops up immigrants who haven't committed crimes in the rest of Pennsylvania in larger numbers than anywhere else in the country. </p>
<p>ICE officials complain that an executive order signed by Kenney prevents it from interviewing or apprehending immigrants who are being held in city jails. But the raw numbers suggest that the agency isn't quite as desperate as it claims to get access to what amounts to a handful of people on a weekly basis.  </p>

            </div>
            </div>
            <div class="row" alignment="true">
            <div class="col-md-12 col col-md-offset-0" alignment="true">
                <div class="imagebreak">
                    <div class="img-fluid">
                        <img class="img-fluid" src="http://media.philly.com/images/sanctuary_hug_1200.jpg" alt="" width="100%/">
                        <div class="containerPhotoCredit" alignment="true">CHARLES FOX / Staff Photographer</div>
                        <div class="containerPhotoCaption" alignment="true">Mayor Kenney has terminated a controversial city contract that allows federal Immigration and Customs Enforcement agents to access a key law-enforcement database, known as PARS, and use that information against undocumented but otherwise law-abiding immigrants in Philadelphia.  Community organizer Xelba Gutierrez, left, is hugged by Mara Henao, of Philly Socialists,  after Xelba and two others from Occupy ICE met with Mayor Kenney on July 27, 2018.</div>
                    </div>
                </div>
            </div>
            </div>
            <div class="row" alignment="true">
            <div class="col-md-8 col col-md-offset-2" alignment="true">

<p>Kenney, meanwhile, has Philadelphia walking a political and moral tightrope. His tough talk on Trump and Sessions belies the fact that the city still regularly provides ICE with information, culled from prisons, about inmates who could be undocumented. His sanctuary policy is intended to keep good people safe, but it also allows immigrant felons to avoid the clutches of ICE, unless its agents have the right paperwork.  And that mandate has sparked an occasional crisis of conscience among a handful of cops and probation officers who decided, on their own, to alert ICE about suspects who were undocumented. </p>
<p>Deputy Managing Director Brian Abernathy acknowledges that he, too, was among those who felt torn by this dueling sense of right and wrong. In 2017, he notified ICE about five inmates whose crimes included rape, attempted murder and kidnapping, and were scheduled to be released from prison. "At the time, I thought it was the right thing to do. Looking back on it, I don't think it was," Abernathy said. "It's a hard issue, and I've beaten myself up about it." That Abernathy feels guilty about not wanting an accused rapist to go free illustrates just how polarized the immigration debate has become. Neither side can meet at a reasonable middle ground without worrying that it will appear, to their supporters, like a surrender. </p>
<p>"That rhetoric that's happening on a national scale — illegal immigrants are causing crime, taking your jobs, all that posturing — drives a political base and has made it impossible to [have a conversation]," Abernathy said. "I can't cooperate with ICE on immigration enforcement because what they're doing is wrong."</p>

<div class="subHead">Subhead TK</div>

<p>Immigration advocates saw their long-held fears about runaway deportation tactics spike at what was supposed to have been a moment of optimism and historic change: The beginning of Barack Obama's presidency. </p>
<p>Obama had been expected to push for legislative reforms that would lead to a path for citizenship for many of the country's 11 million undocumented. Instead, his first years in office were marked by the highest deportation rate in history, peaking at more than 300,000 arrests per year in 2010 and 2011. </p>
<p>The increase was partly owed to Secure Communities, a program that was rolled out under President George W. Bush.  The program shared fingerprint data between local prisons and the federal government, alerting ICE any time an undocumented immigrant was arrested. It also allowed ICE to request that immigrants be held for 48 hours beyond their mandated release date, giving ICE agents enough time to venture to the jails and take the individuals into custody.</p>
<p>Obama expanded Secure Communities, betting that his support would pay off in negotiations with Republicans for long term immigration fixes. His strategy failed, but Secure Communities became a well-oiled deportation machine. State and local prisons and jails were the starting point for more than 85 percent of ICE arrests in 2010 and 2011, according to an analysis by the Migration Policy Institute. </p>

            </div>
            </div>
            <div class="row" alignment="true">
            <div class="col-md-12 col col-md-offset-0" alignment="true">
                <div class="imagebreak">
                    <div class="img-fluid">
                        <img class="img-fluid" src="http://media.philly.com/images/sanctuary_city_hall_1200.jpg" alt="" width="100%/">
                        <div class="containerPhotoCredit" alignment="true">MAGGIE LOESCH / Staff Photographer</div>
                        <div class="containerPhotoCaption" alignment="true">An anti-ICE protest marches from the Liberty Bell to City Hall, passing the ICE office at 8th and Arch Streets on their way on Saturday, August 4, 2018.</div>
                    </div>
                </div>
            </div>
            </div>
            <div class="row" alignment="true">
            <div class="col-md-8 col col-md-offset-2" alignment="true">

<p>As advocates across watched thousands of immigrants get swiftly deported for running a traffic light or driving while intoxicated, they began to push for local solutions — filing lawsuits over the constitutionality of prisons detaining immigrants for ICE, and convincing cities to adopt sanctuary policies that would shield undocumented immigrants from ICE's ever-multiplying tendrils. (Obama ended Secure Communities in 2014, and directed ICE to target undocumented immigrants with violent records.) </p>
<p>In Philadelphia, New Sanctuary, a Christian-affiliated organization, and dozens of other advocacy groups banded together to present then-Mayor Michael Nutter with a proposal to dramatically rein in the city's cooperation with ICE, even on criminal matters.</p>
<p>Some were fueled by the idea of religious redemption. "If we believe in forgiveness and everyone is a child of God and second chances, then if someone has made a mistake and served their time and comes out . . . well, actually, we need to welcome them back to the community, not exile them as bad people," said Peter Pedemonti, New Sanctuary's co-founder. [More/better stuff from new interview with Peter?] </p>
<p>Nutter found that the advocates wouldn't budge on their demands, and signed an executive order in 2014 that barred the city from honoring ICE detainer requests for undocumented immigrants who'd been charged with misdemeanors and violent felonies, unless the requests were accompanied by a judicial warrant. The policy instantly made Philadelphia one of the strictest sanctuary cities in the U.S. </p>
<p>Then-Homeland Security Secretary Jeh Johnson and ICE Director Sarah Saldana visited Philadelphia in an attempt to find a compromise with Nutter. "We wanted to get them to work with us in a manner that suited their community. Nobody with a misdemeanor, but serious criminals," Saldana said. "Some jurisdictions shut the door in our face. San Francisco was one, Philly was another." </p>
<p>But during his final weeks as mayor in 2015, Nutter surprisingly decided to alter the city's policy so that it would comply with detainer requests for immigrants who'd been convicted of a felony, even if ICE didn't obtain a judicial warrant. Some read this move as a calculated political exchange; after he left office, Nutter joined the Homeland Security Advisory Council. He declined to comment. </p>

            </div>
            </div>
            <div class="row" alignment="true">
            <div class="col-md-12 col col-md-offset-0" alignment="true">
                <div class="imagebreak">
                    <div class="img-fluid">
                        <img class="img-fluid" src="http://media.philly.com/images/sanctuary_sign_1200.jpg" alt="" width="100%/">
                        <div class="containerPhotoCredit" alignment="true">MAGGIE LOESCH / Staff Photographer</div>
                        <div class="containerPhotoCaption" alignment="true">An anti-ICE protest marches from the Liberty Bell to City Hall, passing the ICE office at 8th and Arch Streets on their way on Saturday, August 4, 2018.</div>
                    </div>
                </div>
            </div>
            </div>
            <div class="row" alignment="true">
            <div class="col-md-8 col col-md-offset-2" alignment="true">

<p>The change didn't last long. As a city councilman and then mayoral candidate, Kenney championed immigrant and LGBTQ rights, and had a diverse coalition of supporters who expected him to live up to a campaign promise to reverse Nutter's decision. As soon as he took office in January 2016, he followed through, and Philadelphia's muscular sanctuary policy was restored. </p>
<p>Legislators' attitudes had changed, however, in the two years since Philadelphia became a sanctuary city. Immigration replaced the war on terrorism as the country's most volatile political football. Both U.S. Sen. Pat Toomey and Pennsylvania State Rep. Martina White each introduced legislation to strip sanctuary cities of federal and local funding. When their efforts stalled, Trump tried on his own to cut funding those locales — which have grown from 40 in 2008 to nearly 600 — after he took office. He was overruled by a federal judge. </p>
<p>This spring, on an early May morning, Kenney visited a multicultural fair at Furness High School in South Philadelphia. Students gathered under tents representing their nationalities, shared food and laughed easily as pop music thumped from a set of speakers. The mayor was fuming over White House chief of staff John Kelly, who had told NPR that same week that the majority of undocumented immigrants are "overwhelmingly rural people" with middle school educations who don't easily assimilate into life in the U.S. </p>

            {% set quote = ["I love fighting bullies. Bullies have no place in this society, and bullies always lose in the end. And this bully will lose.", "Jim Kenney"] %} {% include "partials/left-quote.html" %}

<p>Trump, during a meeting about sanctuary cities and immigration with California sheriffs, went even further. "These aren't people, he said. "These are animals."</p>
<p>The comments incensed Kenney, who couched his dislike of Trump in schoolyard terms. "I love fighting bullies. Bullies have no place in this society, and bullies always lose in the end," he said. "And this bully will lose." </p>

<div class="subHead">Subhead TK</div>

<p>To prove just how dire public safety has become in sanctuary cities, Trump's Justice Department often relies more on anecdotes than data to make its case — and for good reason.</p>
<p>Sessions followed this blueprint in Scranton, when he had the ears of a roomful of law enforcement types. "ICE tells us that they are able to locate only about six percent of the criminals they ask sanctuary jurisdictions to turn over," he said. "The other 94 percent are walking free." </p>
<p>He offered an example about an undocumented immigrant from Gambia who shoved his girlfriend into an oven when they got into an argument in Philadelphia. The man was arrested and released from a city jail. ICE eventually tracked him down, Sessions said, but without any help from city officials. </p>
<p>The Justice Department has frequently revisited the story of Juan Ramon Vasquez, a Honduras native who was deported from the U.S. in 2009, returned, and was arrested in 2014 for a domestic assault in Philadelphia. ICE supplied the city with a detainer request for Vasquez but without a judicial warrant; he was released, and then later charged with repeatedly raping his young stepdaughter in a West Philly rowhouse. </p>
<p>Vasquez's crime was stomach-turning, but the city wouldn't respond any differently to ICE today. "They knew he had been deported previously," Abernathy said. "They could've gotten a warrant and never did. My biggest frustration is, if they wanted him, they could've gotten him."</p>
<p>The Kenney administration counters the Justice Department's narrative with its crime numbers. Since Nutter signed the 2014 order that made Philadelphia a sanctuary city, its overall violent crime rate has fallen more than 5 percent to levels not seen in decades. The city's yearly homicide totals have climbed 25 percent during that same period, but Kenney argues the roots of that problem are strictly local. "The people who are dying in our streets, the people who are going out and shooting those people," he said, "are Philadelphians."</p>
<p>Kenney sued the Justice Department in 2017, when Sessions tried to withhold a $1.6 million law enforcement grant unless the city agreed to provide ICE with advance notice about immigrants who were scheduled to be released from local jails, and allow ICE agents to question inmates about their citizenship. (Similar lawsuits were filed by mayors in Chicago, Los Angeles and San Francisco.) </p>
<p>During the ensuing federal trial, city officials contended that the Justice Department's increasingly aggressive stance towards immigrant communities actually posed its own public safety risk, because immigrants were unlikely to report violent crimes at the risk of popping up on ICE's radar. </p>

            {% set quote = ["I assure the community that you can come and report a crime, and we're not asking about your immigration background.", "Capt. Frank Milillo"] %} {% include "partials/left-quote.html" %}

<p>"We are not in the immigration business," Police Commissioner Richard Ross said during his testimony.  He cited gun violence and community relations as the department's primary concerns. </p>
<p>In South Philadelphia's 3rd police district, which is home to large Cambodian, Vietnamese, Mexican, Indian and Burmese communities, Capt. Frank Milillo deploys a handful bilingual officers to win over wary immigrants who don't know if there's a difference between city cops and ICE officers. "I assure the community that you can come and report a crime, and we're not asking about your immigration background," Milillo said. Violent crimes in his district have fallen at twice the city average since 2014. </p>

            <div class="imagebreak">
                <img src="http://media.philly.com/images/sanctuary_milillo2_1200.jpg" width="100%"/>
                <div class="containerPhotoCredit" alignment="true">JOSE F. MORENO/ Staff Photographer</div>
                <div class="containerPhotoCaption" alignment="true">Philadelphia Police Capt. Frank Milillo.</div>
            </div>

<p>The federal trial offered surprising revelations about  ICE's efforts in Philadelphia. David O'Neill, an assistant director from ICE's Philadelphia Field Office, testified in May that "about half of the individuals that we have interest in are Visa overstays, while the other [half] had entered the country illegally," a far cry from the Trump administration's portrayal of violent desperadoes.  </p>
<p>The agency also didn't appear to be trying all that hard to pursue its top targets. Between Jan. 1, 2016 and Jan. 18, 2018, ICE filed 164 detainer requests with the city for undocumented immigrants who were being held on unrelated offenses. Its agents obtained judicial warrants for just six of those inmates, and sought to interview only three. [Meanwhile...Statewide ICE arrest figures here?] </p>
<p>On this point, the agency has long insisted that bureaucratic policies are the obstacle, that a magistrate judge would only sign off on a warrant if a suspect had committed an immigration-related crime, like reentering the U.S. after being deported. The number of immigrants who fit that description, ICE officials say, is miniscule. </p>
<p>U.S.  District Judge Michael M. Baylson, who presided over the federal trial, all but scoffed at ICE's explanation. Baylson, a Republican appointed to the bench by Bush, wrote in a 93-page decision that there was no reason why ICE officials couldn't improvise a solution with the U.S. Attorney's Office to more easily meet the city's demands for a judicial warrant. </p>
<p>[Your favorite ICE pushback here and/or a few lines about needing handovers to happen in secure environments?] </p>
<p>The Justice Department's remaining gripe with Philadelphia also stands on flimsy legs. In July, Kenney and Krasner announced that they'd decided against renewing a contract that gave ICE access to PARS, a citywide database of real-time arrest information that includes a person's social security number and country of birth. </p>

            <div class="imagebreak">
                <img src="http://media.philly.com/images/sanctuary_krasner2_1200.jpg" width="100%"/>
                <div class="containerPhotoCredit" alignment="true">JOSE F. MORENO/ Staff Photographer</div>
                <div class="containerPhotoCaption" alignment="true">Philadelphia DA Larry Krasner.</div>
            </div>

<p>Kenney, who is moved to tears easily, grew emotional during the City Hall news conference. "All of us have ancestors who were immigrants once," he said. "All of us." He had faced criticism in prior weeks from protesters who demanded that he end the PARS deal, but the decision had quietly been in the works for months. </p>

            </div>
            </div>
            <div class="row" alignment="true">
            <div class="col-md-12 col col-md-offset-0" alignment="true">
                <div class="imagebreak">
                    <div class="img-fluid">
                        <img class="img-fluid" src="http://media.philly.com/images/sanctuary_indy_hall_1200.jpg" alt="" width="100%/">
                        <div class="containerPhotoCredit" alignment="true">MAGGIE LOESCH / Staff Photographer</div>
                        <div class="containerPhotoCaption" alignment="true">An anti-ICE protest marches from the Liberty Bell to City Hall, passing the ICE office at 8th and Arch Streets on their way on Saturday, August 4, 2018.</div>
                    </div>
                </div>
            </div>
            </div>
            <div class="row" alignment="true">
            <div class="col-md-8 col col-md-offset-2" alignment="true">

<p>ICE officials ridiculed the move, and the loss of a useful resource. But the agency has access to at least seven other federal and state databases, and it quietly regained access over the summer to another city pipeline — Lock and Track, a prison database that provides an inmate's name, prison identification number, race, birth state and country. The Kenney administration had stopped ICE from receiving daily Lock and Track reports, but restored the information sharing while the federal trial was still unfolding.</p>

<div class="subHead">Subhead TK</div>

<p>There are overlooked immigration battles playing out in other corners of Philadelphia politics that could hold lessons for sanctuary cities across the country.</p>
<p>The most notable involves the District Attorney's Office, which is undergoing an unprecedented overhaul under Larry Krasner, the former defense lawyer who was elected DA last year on a reformer's platform. </p>
<p>One of his first decisions as DA was to hire Caleb Arnold, a bespectacled former public defender who had been working at a local immigration law firm, to a newly-created immigrant affairs position. Arnold's role was intended to help minimize the potential impact criminal convictions could have on legal or undocumented immigrants who commit low-level offenses. </p>

            <div class="imagebreak">
                <img src="http://media.philly.com/images/sanctuary_caleb_1200.jpg" width="100%"/>
                <div class="containerPhotoCredit" alignment="true">JOSE F. MORENO/ Staff Photographer</div>
                <div class="containerPhotoCaption" alignment="true">Philadelphia DA's Immigration Counsel Caleb U. Arnold.</div>
            </div>

<p>The stakes are high: An immigrant convicted of a felony could lose their legal visa. For an undocumented immigrant, a conviction would erase any hope of receiving relief from deportation through a humanitarian visa. Arnold was expected to find creative solutions, like diverting someone with a history of addiction into a rehabilitation program instead of prison.</p>
<p>In late May, Arnold arrived at an eighth-floor courtroom in Philadelphia's imposing Juanita Kidd Stout Center for Criminal Justice, where a nervous-looking young guy in a short-sleeved button down and saggy blue jeans milled about in the hallway. </p>
<p>Jose Ramirez-Disla was a 19-year-old from the Dominican Republic who had lived in the U.S. on a green card for almost two years.</p>

            <div class="imagebreak">
                <img src="http://media.philly.com/images/sanctuary_jeff_sessions.jpg" width="100%"/>
                <div class="containerPhotoCredit" alignment="true">MICHAEL CANDELORI / AP</div>
                <div class="containerPhotoCaption" alignment="true">Attorney General Jeff Sessions speaks about immigration and law enforcement actions to cadets from Lackwanna College Police Academy.</div>
            </div>

<p>In the spring of 2017, he got into a fight inside the Chihuahua, a neighborhood bar in Olney. He chucked a beer bottle at a man who happened to be an undocumented immigrant, fracturing his orbital bone, and was charged with a felony count of aggravated assault. If he was convicted of a felony, he'd automatically face deportation. </p>
<p>That's where Arnold came in. For 20 minutes, Ramirez-Disla's lawyer, a translator, and a young city prosecutor huddled in the hallway with Arnold, who sketched out the terms of a favorable deal:  If Ramirez-Disla pleaded to a misdemeanor and took 11 months in jail with no probation and no right to appeal, the DA's office would drop the more serious charge, and he'd get another chance to stay in the country on good terms. </p>
<p>"That's fair, he has to pay his time," Arnold explained. "It takes into consideration his ability to stay here."  </p>
<p>Ramirez-Disla agreed, and began serving his sentence as a city detention center a few weeks later.</p>
<p>For a famously progressive district attorney like Krasner, it represented the type of balance he hoped the office could achieve: The commonwealth still got a conviction, and Ramirez-Disla had a chance to avoid a date with ICE.</p>
<p>Arnold estimates the office assess about 12 cases a week — more than 200 since February — though they don't intervene in all of them.</p>
<p>ProPublica and the Inquirer requested detailed information about cases Arnold has overseen. The DA's Office only agreed to provide anonymized summaries of nine cases with different outcomes, including Ramirez-Disla's. In another case, a defendant was charged with robbery and theft after stealing someone's backpack. After Arnold's review, the defendant was offered a downgrade to simple assault and theft, with a recommended sentence of 5.5-11 months. A case of a green card resident who was charged with possession of child pornography, meanwhile, was left undisturbed.</p>

            {% set quote = ["I'm not feeling the love to find fourteen different ways to help that person.", "Larry Krasner"] %} {% include "partials/left-quote.html" %}

<p>Krasner has faced backlash from veteran prosecutors and judges to this newfound approach. He's still crafting a formal guideline for Arnold's office, and said he won't consider deals for violent offenders. "When you try to behead somebody," he said, "I'm not feeling the love to find fourteen different ways to help that person." </p>
<p>Kenney's and Krasner's lofty policies have sometimes been quietly undermined, however, by another arm of the criminal justice system: the Philadelphia Adult Probation and Parole Department. </p>
<p>Robin Forrest, an attorney in the immigration unit of the Defender Association of Philadelphia,  said she's aware of a dozen instances when probation officers notified ICE that they had clients who were in the U.S. illegally. The department is run by the First Judicial District, and thus not covered by Kenney's executive order. </p><p>Probation and Parole officials declined to be interviewed by ProPublica and the Inquirer. But Krasner and Kenney were aware of Forrest's claims, and in early September, the probation department agreed to begin following the city's sanctuary policy, and restrict probation officers from asking clients about their immigration statuses, or contacting ICE if they learn someone is undocumented. </p>
<p>Probation officers weren't the only ones contacting ICE, however. During the federal trial, it was revealed that Philadelphia police officials had notified ICE about suspects who were in their custody and undocumented on fewer than 10 occasions since Kenney took office. John McNesby, the president of the Fraternal Order of Police Lodge No. 5, said the union hears daily from cops who chafe against the sanctuary restrictions.</p>

            </div>
            </div>
            <div class="row" alignment="true">
            <div class="col-md-12 col col-md-offset-0" alignment="true">
                <div class="imagebreak">
                    <div class="img-fluid">
                        <img class="img-fluid" src="http://media.philly.com/images/sanctuary_police2_1200.jpg" alt="" width="100%/">
                        <div class="containerPhotoCredit" alignment="true">JOSE F. MORENO/ Staff Photographer</div>
                        <div class="containerPhotoCaption" alignment="true">Philadelphia Police officers, Sgt. Timmy Sin, right, Franklin LeTorre, left, and Jasmine Fraticelli are photographed at the 3rd district headquarters in Philadelphia, Pa. Wednesday, September 12, 2018. The officers all speak multiple languages, and have helped to make members of the local immigrant community feel more comfortable contacting police.</div>
                    </div>
                </div>
            </div>
            </div>
            <div class="row" alignment="true">
            <div class="col-md-8 col col-md-offset-2" alignment="true">

<p>The notes of dissent don't surprise Abernathy. A police department with 6,400 cops is bound to have some political divisions, or some people who feel torn by their religious sensibilities, as he did in 2017. "It's why struggled with those notifications," he said. "I'm a Catholic. I believe in forgiveness. But I also believe in holding people responsible, and I believe in a court of law." </p>

<div class="subHead">Subhead TK</div>

<p>For all of its contradictions and imperfections, undocumented immigrants are still drawn to Philadelphia, hoping to find refuge and a small, splintered piece of the American dream in the shadows of gleaming new skyscrapers and old rowhouse neighborhoods.  </p>
<p>For Enid Melissa Bartolomei and Pablo Castillo Trujillo, Philadelphia seemed like it might hold the key to unlocking the life they wanted to build together. </p>
<p>Trujillo, 41, hired someone to help him sneak across the Mexico border and into the U.S. in the summer of 2017. He ended up in Mt. Laurel, where he met Bartolomei, a Puerto Rico native who worked at a local law firm. </p>
<p>They fell in love and got engaged, and Trujillo worked landscaping jobs to help Bartolomei support her parents and a disabled nephew. The couple made multiple trips to the Mexican Consulate in the heart of Philadelphia's historic district, believing officials there could devise a path to citizenship for Trujillo. </p>

            <div class="imagebreak">
                <img src="http://media.philly.com/images/sanctuary_bartolomei_1200.jpg" width="100%"/>
                <div class="containerPhotoCredit" alignment="true">TOM GRALISH / Staff Photographer</div>
                <div class="containerPhotoCaption" alignment="true">Enid Bartolomei talks to her fiance Pablo on the phone outside her Marlton, N.J. He calls her every day when she stops to change clothes between her two jobs.</div>
            </div>

<p>In early April — around the same time that Trump complained in a series of tweets that immigrants were pouring into the country — Bartolomei heard a knock at her front door. She found two men standing there in vests that identified them as ICE agents. One was looking through her mail, which included bills addressed to Trujillo; another lurked in her backyard.</p>
<p>"Is Pablo here?" one agent asked. "We want to talk to him."  </p>
<p>"He's not," she said. "What's this about?"</p>
<p>Panicked, she called the consulate. An employee told her to leave her apartment and not return. She and Trujillo spent the night at her parents'. "We'll go to the consulate in the morning and figure this out," Trujillo told Bartolomei. </p>
<p>The next day, they climbed into Bartolomei's little Ford sedan and began driving towards Philadelphia. They could reach the consulate in 20 minutes if they hurried. Bartolomei's mind started to wander. Could the consulate keep them safe? A church? </p>
<p>Could they find sanctuary? </p>

            {% include "partials/subscribebox.html" %}

<p>Her thoughts were interrupted by the appearance of a cruiser filled with ICE agents. They ordered Trujillo out of the car. Then they took him.  </p>
<p>Bartolomei said Trujillo hadn't had any contact with police in the time they were together. She believes ICE arrived at her doorstep because a neighbor had called the police on her a few weeks earlier to complain that her car was blocking a shared driveway, and had possibly mentioned that Trujillo was undocumented. </p>
<p>According to U.S. Department of Homeland Security records, he had been deported once before, in 2015, when he entered the U.S. illegally. Trujillo insisted that he had left voluntarily, but it mattered little. In May, he was sent back to Mexico.  </p>

{% set ad = ["22"] %} {% include "partials/ad.html" %}

<p>Bartolomei plans to fly to Mexico soon to marry Trujillo, but their reunion will be short-lived. Her family needs her in Jersey, and Trujillo can't apply to return to the U.S. legally for 20 years. </p>
<p>She recently sat in a local Starbucks, dabbing at tears with a napkin as she mulled the question of what a sanctuary city really means, beyond all the rhetoric.  </p>
<p>"It doesn't mean anything," she said. "ICE just finds a way around it."</p>


        </div>
    </div>
</div>
<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-2">
        <div class="backgroundImageCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
    </div>
</div>
